* {
    box-sizing: border-box;
}
.flex {
    display: flex;
    justify-content: space-between;
    width: calc(220px*3);
}
.list-items {
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}
#cadastro {
    width: calc(300px*3);
    background-color: antiquewhite;
    border: 1px dotted #000;
    padding: 5px;
}
.list {
    background-color: antiquewhite;
    border: 1px dotted #000;
    position: relative;
    list-style: none;
    padding: 0px 2px 2px 2px;
}

.list li {
    position: relative;
    padding: 5px;
    color: white;
    margin: 2px;
}
.list li i {
    float: right;
    margin-right: 7px;
    cursor: pointer;
}
.list li p {
    font-size: 12px;
}

.list h1 {
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background-color: #323A45;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 2px;
}
.item-delete {
    position: absolute;
    top: 3px;
    right: 3px;
}
.item-delete:hover {
    color: red;
}
.item-clock {
    position: absolute;
    top: 25px;
    right: 3px;
}
.item-clock:hover {
    color: #02E949;
}
.clock-active {
    color: #02E949;
}
.hint {
    position: relative;
}

.container-lists {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding-top: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,f5f7f9+100 */
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}
.navbar-collapse li a{
    margin-left: 7px;
}
.nav-link {
    color: #323A45;
    font-weight: bold;
}
.nav-link:hover {
    color: #02E949;
}