html, body {
    height: 100%;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 63%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 63%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
#barUtils {
    background-color: #4F626F;
    width:100%;
    height: 64px;
    margin-bottom: 30px;
}
#barUtils button, input {
    margin-bottom: 14px !important;
}
#barUtils input#start, #barUtils input#stop {
    margin: 0px 5px 0px 5px;
    width: 120px;
    font-size: 10px;
}
#barUtils input#time {
    margin: 0px 5px 0px 5px;
    width: 120px;
    font-size: 10px;
}
.navbar-brand {
    color: white !important;
    outline: none !important;
}
nav h3 {
    position: relative;
    padding: 5px;
    background-color: #0059C9;
    display: inline-block;
    color: white;
    margin: 2px;
    border-radius: 10px;
    width: 200px;
}
.collapse h3, span a {
    color: white !important;
}
.container-form {
    max-width: 480px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,f5f7f9+100 */
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}
div.row{
    margin: 0;
 }